.navButton {
    position: relative;
    color: var(--c-text-color);
    padding: 12px;
    border-radius:99px;
    display:flex;
    align-items:center;
    &:hover {
         background-color: var(--c-text-color-10);

     }
    svg {
        font-size: 26px;
        & + * {
            margin-left: 20px;
            margin-right: 16px;
          }
    }
}

.navButtonSelected {
    font-weight: bold;
}

.notify {
    height: 17px;
    position: absolute;
    top: 9px;
    left:26px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    background-color: var(--c-theme);
    color:var(--c-text-color);
    font-size: 11px;
    border:1px solid var(--c-primary);

}